.centerBlock
  .main
    .timeClock
      .employeeInfo
        img.employeePicture
        h2.employeeName Username
        h3.employeeTitle Driver
    .timeDisplay
      h2.currentTime#clock 00:00:00
      .timeContainer
        ul.clockInTime#list
        ul.clockOutTime#list2
        ul#list3
      button.workBtn.button#clockIn Clock In